<!DOCTYPE html>
<html>

<head>
    <title>
        Index Page
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Welcome To Events</h1>
    <a href="/events/new">Create An Event</a>
</body>

</html>